<% content_for :title do %>
	<%= t :options %>
<% end %>
<table class="full-length small">
	<tr>
		<th><%= t :key %></th>
		<th><%= t :value %></th>
	</tr>
<% form_tag admin_save_options_url do %>
	<% for config in @options  %>
	<tr>
		<td><%= t config.key.to_sym %></td>
		<td><%= make_formable(config) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="2"><%= submit_tag 'uložit' %></td>
	</tr>
<% end %>
</table>