<%= error_messages_for 'page', :object => @page %>

<div>
	Titulek:
	<%= @f.text_field :title, { :size => 60 } %><br />
	<span class="small"><%= showmore('page-more', 'show-more')%></span>

	<div id="page-more" style="display: none;">
		<table class="small">
			<tr>
				<td>Typ stránky:</td>
				<td><%= @f.select :class_name, Page.descendants, { :selected => @page.class_name } %></td>
			</tr>
			<tr>
				<td>Adresa:</td>
				<td><%= @f.text_field :slug, { :class => "small" } %></td>
			</tr>
			<tr>
				<td>Stav:</td>
				<td><%= @f.select :status_id, Status.get_select, { :selected => @page.status_id || 1 } %></td>
			</tr>
			<tr>
				<td>Vzhled:</td>
				<td><%= @f.select :layout_id, Layout.get_select, { :selected => @page.layout_id || 1 } %></td>
			</tr>
			<tr>
				<td>Použít šablonu:</td>
				<td><%= @f.select :template_id, ContentTemplate.get_select, { :selected => @page.template_id || 1 } %></td>
			</tr>
			<tr>
				<td>Popis:</td>
				<td><%= @f.text_field :description, { :class => "small" } %></td>
			</tr>
			<tr>
				<td>Klíčová slova:</td>
				<td><%= @f.text_field :keywords, { :class => "small" } %></td>
			</tr>
			<% if Configuration['site.langs'].size > 1 %>
			<tr>
				<td>Jazyk:</td>
				<td><%= @f.select :language, Configuration['site.langs'].map { |lng| [lng, lng] }, { :selected => @page.language || session[:selected_language] } %></td>
			</tr>
			<% else %>
				<%= @f.hidden_field :language %>
			<% end %>
		</table>
	</div>
	<div class="cleaner"></div>
</div>

<div id="wrapper">
	<div id="tabs-container">
		<ul id="tabs">
			<li>Obsah</li>
			<li>Druha</li>
		</ul>
	</div>
	<div id="panes">
		<div id="panes-container">
			<div class="pane small" id="body">
			<% unless @page.new_record? %>
				<p>Vrátit na verzi: <%= select :version, nil, [ [ "---", 0 ] ] + @page.versions.reverse.collect{ |v| ["##{v.id}", v.id] }, {}, { :onchange => remote_function( :url => '/admin/pages/version/', :method => :get, :data => "'page=#{@page.id}&version=' + this.value", :onComplete => "function(response, responseJS, responseHTML) { if( responseHTML != 'false' ) { $('page_body').value = responseHTML; } }" ) } %></p>
			<% end %>
				<%= ( @page and @page.class == Page ) ? fckeditor( :page, :body, {:width => '98%', :height => '300px'} ) : @f.text_area( :body, { :rows => 20, :style => 'width: 98%;', :onchange => remote_function( :url => '/admin/pages/version/', :method => :get, :data => "'version=-1&page_body='+this.value" ) } ) %>
			</div>
			<div class="pane">
			<textarea style="width: 98%; height: 300px;">asdasd</textarea>
			</div>
		</div>
	</div>
</div>

<span class="small float-right"><%= link_to_remote '[+] přidat přílohu', { :url => '/admin/pages/add_appendix', :update => 'appendixes', :position => :bottom } %></span>
<div id="appendixes-outer">
	Přílohy:<br />
	<div id="appendixes">
		<%= render :partial => 'admin/pages/appendixes' %>
	</div>
</div>

<div class="small">
	<%= hidden_field_tag 'parent', params[:parent] %>
	<%= @f.submit 'uložit', { :class => "small" } %>&nbsp;<%= @f.submit 'uložit a pokračovat', { :name => "save_and_continue", :class => "small" } %> nebo <%= link_to "zpět", admin_pages_url %>
</div>