<% content_for :title do %>
	Uživatelé
<% end %>

<table class="full-length small">
  <tr>
    <th>Login</th>
    <th>Poslední přihlášení</th>
    <th>IP adresa</th>
    <th>Možnosti</th>
  </tr>
<% for user in @users %>
  <tr>
    <td><%= link_to user.login, edit_admin_user_path(user) %></td>
    <td><%=h user.current_or_last_at.to_s(:czech_time24) if user.current_or_last_at %></td>
    <td><%= link_to user.current_or_last_ip, "http://whois.domaintools.com/#{user.current_or_last_ip}", { :rel => 'nofollow', :target => '_blank' } if user.current_or_last_ip %></td>
    <td><%= delete_link admin_user_url( user ), :permission => nil unless user.login == "admin" %></td>
  </tr>
<% end %>
</table>

<br />
<div>
	<%= add_link "Nový uživatel", new_admin_user_url %>
</div>